/*font-family: 'Lexend Deca', sans-serif;*/ 
/* font-family: 'Big Shoulders Display', cursive;*/


body h1{
	font-family: 'Big Shoulders Display', cursive;
	color: #ffffff;
	margin-left: 50px;
}
body p{
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	margin: 30px 50px 70px 50px;
}

body{
	display: flex;
	justify-content: center;
}


body img{
	position: relative;
	left: 50px;
	top: 50px;
	margin-bottom: 60px;
}


.block{
	display: flex;
	margin : 100px;
	align-content: center;
	width: auto;
}

.b{
	width: 300px;
	height: auto;
}

.b1{
	background-color: hsl(31, 77%, 52%);
	border-radius: 10px 0 0 10px;

}


.b2{
	background-color: hsl(184, 100%, 22%);
}
.b3{
	background-color: hsl(179, 100%, 13%);
	border-radius: 0 10px 10px 0;
}


body button{
	margin-left:50px;
	margin-bottom:35px; 
	padding:0.8em 1.5em;
	border-radius:2em;
}
.bt1{
	color: hsl(31, 77%, 52%);
	border :1px solid hsl(31, 77%, 52%) ;
}
.bt1:hover{
	background-color: hsl(31, 77%, 52%);
	color: #ffffff;
	border: 1px solid;
}
.bt2{
	color: hsl(184, 100%, 22%);
	border :1px solid hsl(184, 100%, 22%) ;

}

.bt2:hover{
	background-color: hsl(184, 100%, 22%);
	color: #ffffff;
	border: 1px solid ;
}
.bt3{	
	color: hsl(179, 100%, 13%);
	border :1px solid hsl(179, 100%, 13%) ;
}

.bt3:hover{
	background-color: hsl(179, 100%, 13%);
	color: #ffffff;
	border: 1px solid;

}

@media all and (max-width: 899px){
	.block{
		flex-direction: column;

	}
	.b1{
		border-radius: 10px 10px 0 0;
	}
	.b3{
		border-radius: 0 0 10px 10px;
	}
}